#pwapp-admin{
	.look-and-feel{
		.left-side{
			.details{
				padding:30px;
				background-color: $box-color;

				h2.title{
					font-family: 'OlRoundGothicLight', sans-serif;
					font-size: 25px;
					line-height: normal;
					color: $base-text-color;
				}
				.section-header{
					font-family: 'AcorderSemiBold', sans-serif;
					font-size: 18px;
					line-height: normal;
					color: $base-dark-blue;
				}

				.color-schemes{
					width: 50%;
					float: left;

					.colors{
						display: table;
						width: 260px;
						height: 16px;
						border: #daddde  1px solid;

						&.description{
							border: none;
							font-family: 'AcordeRegular', sans-serif;
							margin-left:56px;
						}

						[class^="color-"]{
							display: table-cell;
							height: 16px;
							width: 27px;
							text-align: center;
						}

                        [class^="color-custom-"]{
                            background: #eeeff1;
                            border-right: 1px solid #fff;
                            cursor:pointer;

                            &:last-child{
                                border-right:none;
                            }
                        }
					}
				}

                .color-schemes-custom {

                    .set {
                        width: 50%;
                        float: left;
                        margin-bottom: 10px;

                        > label {
                            width: 100%;
                        }
                    }
                }

                .font-chooser{
                    &.left {
                        width: 50%;
                        display: flex;
                        align-items: center;
                    }

                    label {
                        position: relative;
                        display: inline-block;
                        width: 135px;
                    }
                    .toggle-container {
                        position: relative;
                        display: flex;
                        width: 220px;
                        justify-content: space-between;

                        .toggle-button {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            width: 70px;
                            line-height: 36px;

                            .font-size {
                                order: -1;
                                color: $base-color-darken;

                                &[class$="-small"]{
                                    @include wbz-inline-icon(font-size, 16px);
                                    margin: 0 auto;
                                }

                                &[class$="-normal"] {
                                    @include wbz-inline-icon(font-size, 24px);
                                    margin: 0 auto;
                                }

                                &[class$="-large"] {
                                    @include wbz-inline-icon(font-size, 36px);
                                    margin: 0 auto;
                                }
                            }

                            input[type="radio"]:checked + .font-size {
                                color: $base-blue;
                            }

                            label {
                                margin: 0 auto;
                                width: 36px;
                            }
                        }
                    }
                }

                &.branding{
					label, p{
						font-family: 'AcordeRegular', sans-serif;
						font-size: 15px;
						line-height: normal;
						color: darken($base-blue,50%);

					}
					.custom-upload {
						position: relative;
						height: 36px;
						width: 450px;
						margin: 10px 0;

						&:hover{
							.fake-file{
								.btn{
									background: darken($base-grey, $darken-amounth/2);
									border: 1px solid darken($base-grey, $darken-amounth);
								}
								input{
									outline:none;
									border:1px solid darken($input-border,$darken-amounth);
								}
							}
						}
						.remove{
							position: absolute;
							top: 8px;
							right: 160px;
							width: 16px;
							height: 16px;
							z-index: 3;
							@include wbz-inline-icon(close-x, 9px);
							color: #ffffff;
							background: $base-color-darken;
							@include wbz-border-radius(16px);
							padding: 3px;

							&::before{
								top: -4px;
								left: 0px;
								display: block;
							}
						}
					}
					.custom-upload input[type=file] {
						outline: none;
						position: relative;
						text-align: right;
						@include wbz-opacity(0);
						z-index: 2;
						width: 430px;
						height: 100%;
					}
					.custom-upload .fake-file {
						position: relative;
						top: -38px;
						left: 0px;
						width: 430px;
						padding: 0;
						margin: 0;
						z-index: 1;
						line-height: 100%;
						@include wbz-display-box();

						.btn{
							margin: 0px 0px 0px 10px;
						}
					}
					.custom-upload .fake-file input {
						width: 300px;
						font-family: 'AcordeSemiBold', sans-serif;
						color: $input-color;
						font-size: $input-font-size;
						margin: 0;
					}
					.display-logo {
						text-align: left;
						height: 120px;

						.edit{
							margin: 47px 0 0 0;
							vertical-align: middle;
							text-align: center;
							float: left;
						}
						.remove{
							display: inline-block;
							margin: 55px 0 0 10px;
						}
						.img{
							width: 120px;
							height: 120px;
							display: inline-block;
							margin: 0 25px;
							float: left;
						}
						label{
							width: 100px;
							display: inline;
							float: left;
							margin: 55px 0 0 0;
						}
					}
					.display-icon{
						@include wbz-display-box();
						@include wbz-box-orient(horizontal);
						@include wbz-box-pack(start);
						@include wbz-box-align(center);
						text-align: left;
						height: 120px;

						.edit{
							margin: 47px 0 0 0;
							vertical-align: middle;
							text-align: center;
							float: left;
						}
						.remove{
							display: inline-block;
							margin: 55px 0 0 10px;
						}
						img{
							width: 120px;
							height: 120px;
							@include wbz-border-radius(120px);
							@include wbz-box-shadow(inset 0 0 5px 1px rgba(0,0,0,0.1));
							display: inline-block;
							margin: 0 25px;
							float: left;
						}
						label{
							width: 100px;
							display: inline;
							float: left;
							margin: 55px 0 0 0;
						}
					}
					.cancel-link{
						position: relative;

						.cancel{
							position: absolute;
							top: -39px;
							right: -30px;
						}
					}
				}
			}
		}
	}
}
